.about {
    height: 100vh;
    background-color: $background-color-darker;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: $font-color-light;

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    img {
        position: absolute;
        left: calc(50% - 110px);
        top: -38px;
        transform: translate(-50%, 0);

    }

    h5 {
        font-size: 2vw;
        margin-top: 15px;
    }

    hr {
        margin: 0 auto;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .main-text {
        font-size: 1.5vw;
        font-weight: bold;
    }
}