* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind';
    //font-family: 'Work Sans', sans-serif;
    //color: $font-color-dark;
    height: 300vh;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    margin-right: 220px;
}